/*-----------General------------*/
body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #2dc997;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: #2dca98;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}




/*-----Back to top button------*/
.back-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #24cc63;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #49d6a9;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
/*-----*/









/*----Sections Header--------*/
.section-header .section-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
}

.section-header .section-description {
  text-align: center;
  padding-bottom: 50px;
  color: black;
  max-width: 800px;
  margin: 0 auto;
}
/*-----*/










/*--------Menu bar-------*/
#header {
  height: 90px;
  transition: all 0.5s;
  z-index: 997;
  border-bottom: 1px solid whitesmoke;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

#header.header-transparent {
  background-color: white;
}

.menu{
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
  padding: px px;
}

/*** Desktop Navigation */
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  white-space: nowrap;
  padding: 10px 0 10px 24px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 16px;
  padding: 0 4px;
  white-space: nowrap;
  transition: 0.3s;
  letter-spacing: 0.4px;
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #AA2D2D;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  transform: scaleX(1);
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: black;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 24px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #666666;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #2dc997;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/*----Mobile Navigation----*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile{
  display: none;
}

@media (max-width: 768px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }

  .navbar-2{
    display: none;
  }

  .mobile{
    display: block;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(77, 77, 77, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile>ul>li {
  padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #666666;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #AA2D2D;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #AA2D2D;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--menu bar end---*/


















/*-----home page css-----*/
#hero {
  width: 100%;
  height: 90vh;
  background: url(../../images/vvv3.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  background-attachment: fixed;
  margin-top: 90px;
}


#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0px 20px;
}

#hero h1 {
  margin: 30px 0 10px 0;
  font-size: 42px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
}


#hero h2 {
  color: #eee;
  margin-bottom: 25px;
  font-size: 22px;
}

#hero h3 {
  margin: 30px 0 10px 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
  max-width: 900px;
}

#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-get-started:hover {
  background: #AA2D2D;
  border: 2px solid #AA2D2D;
}


@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
/*--home page css end--*/









/*---Facts Section----*/
#facts {
  background: white;
  padding: 60px 0 60px 0;
}

#facts .counters span {
  font-size: 48px;
  display: block;
  color: #AA2D2D;
}

#facts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.extra-text{
  text-align: center;
  padding-bottom: 60px;
}
/*-----*/








/*--------------AboutUs Section--------*/
#about {
  background: #fff;
  min-height: 100vh;
  margin-top: 90px;
  display: flex;
  align-items: center;
  padding: 50px 0px;
}

.about-container .title {
  color: black;
  font-weight: 700;
  font-size: 32px;
}

.about-container p {
  line-height: 26px;
}


.about-container h4{
  color: black;
}


#about .about-container .icon-box {
  height: 70px;
  margin: 30px 0px;
  display: flex;
  align-items: center;
}

#about .about-container .icon-box .icon {
  float: left;
  background: #fff;
  min-width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #AA2D2D;
}

#about .about-container .icon-box .icon i {
  color: #AA2D2D;
  font-size: 24px;
  line-height: 0;
}

#about .about-container .icon-box .title {
  font-weight: 500;
  margin-bottom: 0px;
  font-size: 18px;
  text-transform: uppercase;
  margin-left: 20px;
}

.about-img{
  display: flex;
}

.about-img img{
  width: 100%;
}

@media (max-width: 991px) {
  .about-content, .form-div {
    margin-top: 40px;
  }
}
/*-----*/









/*-----Services Section-----*/
#services {
  background: #fff;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin-top: 90px;
}

#services .box {
  padding: 50px 20px;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #e6e6e6;
  height: 200px;
  position: relative;
  background: #fafafa;
}

#services .icon {
  position: absolute;
  top: -36px;
  left: calc(50% - 36px);
  transition: 0.2s;
  border-radius: 50%;
  border: 6px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 72px;
  height: 72px;
  background: #AA2D2D;
}

#services .icon a {
  display: inline-block;
}

#services .icon i {
  color: #fff;
  font-size: 24px;
  line-height: 0;
}

#services .box:hover .icon {
  background: #fff;
  border: 2px solid #AA2D2D;
}

#services .box:hover .icon i {
  color: #AA2D2D;
}

#services .box:hover .icon a {
  color: #AA2D2D;
}

#services .title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#services .title a {
  color: #111;
}

#services .description {
  font-size: 14px;
  line-height: 24px;
}







/*------Call To Action Section-----*
#call-to-action {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/call-to-action-bg.jpg) fixed center center;
  background-size: cover;
  padding: 80px 0;
}

@media (max-width: 1024px) {
  #call-to-action {
    background-attachment: scroll;
  }
}

#call-to-action .cta-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#call-to-action .cta-text {
  color: #fff;
}

@media (min-width: 769px) {
  #call-to-action .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

#call-to-action .cta-btn {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#call-to-action .cta-btn:hover {
  background: #2dc997;
  border: 2px solid #2dc997;
}
/*----*/





/*--about page css---*/
.about{
  background: url(../../images/cc.jpg) !important;
  background-size: cover !important;
  background-position: center !important;
}
/*---end---*/



/*--residency page css---*/
.residency{
  background: url(../../images/Flug2.jpg) !important;
  background-size: cover !important;
  background-position: center !important;
}
/*---end---*/



/*------Contact page css-----------*/
#contact {
  min-height:100vh;
  margin: 0 auto;
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
  background-color: white;
}

.contact-div{
  margin: 0 auto;
  padding: 0px;
}

.form-img{
  display: flex;
  align-items: center;
}

.form-img img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.form-div{
  display: flex;
  align-items: center;
}

form{
  width: 100%;
}

form > div{
  margin: 20px 0px;
}

.Form{
  display: flex;
  gap: 30px;
}

.w-full{
  width: 50%;
}

.W-full{
  width: 100%;
}

.w-full label{
  display: block;
  color:  black;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}

.w-full input{
  width: 100%;
  height: 45px;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
  padding: 10px;
}

.W-full textarea{
  width: 100%;
  border-radius: 5px;
  border: 1px solid black;
  height: 150px;
  outline: none;
  padding: 10px;
}

.form-div button{
  border: none;
  background-color: #AA2D2D;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
}
/*--contact page css end--*/







/*-------Footer----------*/
#footer {
  background: #343b40;
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .copyright {
  text-align: center;
}

#footer .copyright p{
  display: inline-flex;
  padding-left: 5px;
  margin: 0px;
}
/*----*/





/*----*/
.Dropdown {
  width: auto;
  position: relative;
  margin-left: 25px;
}

.input-box {
  width: 100%;
  cursor: pointer;
}

.input-box img{
  width: 23px;
}

.list {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  margin-top: 10px;
  overflow: hidden;
  max-height: 0;
  transition: 0.2s ease-out;
}

.list input {
  display: none;
}

.list label {
  display: flex;
  width: 100%;
  padding: 5px 10px;
  cursor: pointer;
}
/*-----*/




/*----Sections-----*/
/* section {
  overflow: hidden;
} */


/*-----Disable AOS delay on mobile--------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*-----*/



/*----------Breadcrumbs--------*
.breadcrumbs {
  padding: 20px 0;
  background-color: whitesmoke;
  min-height: 40px;
  margin-top: 92px;
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}
/*-----*/

